@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DoctorTerror';
    src: url('/Doctor Terror.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
